*{
  font-size: 12px;
}

body{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1200px;
  margin: auto;
  background-color:antiquewhite(90, 98, 100);
  color: black;
}

#mazes-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.maze-container{
  padding-top: 15px;
}

.maze{

  width: 400px; 
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid lightgray;
  padding: 10px;
  background-color: darkgray;
 

}

.maze-image{
  margin: 0;
  
  top: 50%;
  left: 50%;
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square{
  width: 10px;
  height: 10px;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.red{
  background-color: red;
}

.gold{
  background-color:gold;
}

.results-text{
  background-color: darkgray;
  padding: 10px;
  width: 60%;
  margin: auto;
}
.green-text{
  color: green; 
}

.red-text{
  color: red;
}